<!-- Creating the Dashboard Page -->
<!-- Adding Header -->
<%- include('partials/header.ejs') %>

<!-- Adding Navbar -->
<%- include('partials/navbar.ejs') %>

<body class="dashboard">
  <h1>DASHBOARD</h1>
  <h3 class="text-center">DriveTest Booking Kiosk</h3>

  <!-- Including the Footer  -->
  <%- include('partials/footer.ejs') %>
</body>
