<!-- Grid foo-container -->
<div class="foo-container">
    <!-- Section: Links -->
    <section class="">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-4">
                <h6>
                    Book DriveTest
                </h6>
                <p>
                    You can book G2/G drive test from this Kiosk
                </p>
            </div>
            <!-- Grid column -->

            <hr />
            <!-- Grid column -->
            <div class="col-lg-3">
                <h6>Services</h6>
                <p>
                    <a href="/dashboard">Dashboard</a>

                </p>
                </p>
                <p><a href="/login">Login</a>
                </p>
                <p>
                    <a href="/g">G_Page</a>

                </p>
                <p><a href="/g2">G2_Page</a>
                </p>
            </div>

            <hr />

            <!-- Grid column -->
            <div class="col-lg-3">
                <h6>Contact</h6>
                <p><i class="fas fa-home"></i> Waterloo, On N2L 0H6, CANADA</p>
                <p><i class="fas fa-envelope"></i> license@gov.on.ca</p>
                <p><i class="fas fa-phone"></i> + 01 093 234 8815</p>
                <p><i class="fas fa-print"></i> + 01 298 648 8815</p>
            </div>
            <!-- Grid column -->
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Links -->
    <hr>
    <!-- Section: Copyright -->
    <section>
        <div>
            <!-- Grid column -->
            <div>
                <!-- Copyright -->
                <div class="copyright">
                    © Stuti Jayswal 2023
                </div>
                <!-- Copyright -->
            </div>
            <!-- Grid column -->
        </div>
    </section>
    <!-- Section: Copyright -->
</div>
<!-- Grid foo-container -->
</footer>
<!-- Footer -->

<!-- End of .foo-container -->